* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(#a5c7e3, #e7ecf0);
    display: flex;
    justify-content: center;
    height: 100%;
}

/*scroll bar*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #b3b3b3;
}

/*start of preloader*/
.cssload-container {
    width: 100%;
    height: 26px;
    text-align: center;
    margin-top: 50px;
}

.cssload-speeding-wheel {
    width: 26px;
    height: 26px;
    margin: 0 auto;
    border: 2px solid rgb(99, 106, 114);
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: cssload-spin 875ms infinite linear;
    -o-animation: cssload-spin 875ms infinite linear;
    -ms-animation: cssload-spin 875ms infinite linear;
    -webkit-animation: cssload-spin 875ms infinite linear;
    -moz-animation: cssload-spin 875ms infinite linear;
}

@keyframes cssload-spin {
    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes cssload-spin {
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes cssload-spin {
    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes cssload-spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes cssload-spin {
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*start of container*/
.container {
    display: flex;
    height: 100%;
    width: 1200px;
    background: #fff;
}

.information {
    width: 100%;
    height: 100%;
}

.no-order-info {
    display: none;
    justify-content: center;
    align-items: center;
    color: #cecece;
    height: 100%;
    width: 100%;
}

.no-order-msg {
    font-size: 80px;
}

/*popup window*/
.popup-window {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(49, 61, 73, 0.5);
    z-index: 1;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.confirm-window {
    width: 300px;
    height: 200px;
    background-color: #fff;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.confirm-window-msg {
    font-size: 25px;
}

.confirm-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
}

.confirm-button {
    width: 100px;
    margin: 0 20px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
}

.yes-btn {
    background-color: #d6e9ff;
}

.no-btn {
    background-color: #e9e9e9;
}

.yes-btn:hover {
    background-color: #bedbff;
}

.no-btn:hover {
    background-color: #d3d3d3;
}

.create-product-window {
    width: 300px;
    background-color: #fff;
    display: none;
    justify-content: space-between;
    flex-direction: column;
}

.create-order-window {
    width: 650px;
    background-color: #fff;
    display: none;
    flex-direction: column;
}

.order-field {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.order-fields {
    display: flex;
    justify-content: center;
}

.fields-label {
    padding-bottom: 10px;
    font-weight: bold;
    color: #636a72;
}

.fields-input {
    height: 25px;
    font-size: 20px;
    color: #636a72;
}

.popup-window header {
    display: flex;
    justify-content: flex-end;
}

.close-button {
    margin: 10px;
    color: #b3b3b3;
    cursor: pointer;
}

.popup-window-btn {
    min-height: 40px;
    margin: 10px auto 20px;
    width: 150px;
    color: white;
    text-decoration: none;
    background-color: #636a72;
    border: none;
}

.popup-window-btn:hover {
    background-color: #b3b3b3;
}

/*not found page*/
.not-found-page {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.not-found-order-title {
    font-size: 80px;
    color: #b3b3b3;
    margin-bottom: 50px;
}

.not-found-order {
    font-size: 60px;
    color: #636a72;
}

/*sidebar*/
.no-orders-message {
    color: #b3b3b3;
    text-align: center;
    margin-top: 50px;
}

.no-orders-text {
    font-size: 30px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    background-color: #fff;
    border-right: #ebebeb 1px solid;
}

.sidebar header {
    height: 50px;
    border-bottom: #ececec solid 1px;
    text-align: center;
    padding-top: 5px;
    color: #636a72;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hidden-sidebar-btn {
    position: absolute;
    padding: 0 5px;
    cursor: pointer;
    display: none;
}

/*searchOrder form*/
.order-search-form {
    border: 1px solid #ececec;
    display: inline-block;
    position: relative;
    width: 290px;
    margin: 2px 5px;
    margin-top: 10px;
}

.order-search {
    width: 100%;
    padding: 3px;
    padding-right: 50px;
    background-color: transparent;
    border: 0;
}

.sidebar .btn {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    border: 0;
    color: #636a72;
    padding: 3px 5px;
    cursor: pointer;
}

.js-search-btn {
    margin-right: 30px;
}

/*orders list*/
.orders {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.order-item {
    padding: 5px 15px;
    min-height: 100px;
    border-bottom: #ececec solid 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

.order-item-active {
    background-color: #e8eff7;
}

.order-item:hover {
    background-color: #efefee;
}

.order-item * {
    width: 120px;
    color: #2f3b47;
}

.order-item p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.order-number {
    font-size: 18px;
    color: #2f3e51;
    width: 120px;
}

.order-date {
    text-align: right;
    font-size: 22px;
}

.customer-name {
    color: #636a72;
}

.order-urgent {
    text-align: right;
    color: #dc9641;
}

.order-status {
    text-align: right;
}

.shiped-date {
    flex-grow: 2;
    color: #636a72;
}

/*content*/
.content header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    color: #636a72;
    font-size: 100px;
    border-bottom: #d6dfe6 1px solid;
}

.show-sidebar-btn {
    display: none;
    position: absolute;
    padding: 6px;
    top: 0;
    left: 0;
    font-size: 15px;
    cursor: pointer;
}

.content {
    background-color: #f0f4f5;
    height: 100%;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.order {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

/*Order info*/
.order-info {
    background-color: #eff4f8;
    border-bottom: #d1dfea 2px solid;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

/*Left part of order info*/
.left-order-info {
    width: 100%;
    height: 100%;
    max-width: 700px;
    flex-grow: 6;
    justify-content: flex-start;
    padding: 30px 0px 0px;
    text-overflow: ellipsis;
    margin-bottom: -2px;
}

.order-info-block {
    max-width: 700px;
}

.order-info-customer,
.order-info-ordered,
.order-info-shiped {
    margin: 3px 0;
    color: #636a72;
}

.order-info-number {
    font-size: 22px;
    margin-bottom: 30px;
    color: #2f3e51;
}

/*Icons*/
.icons {
    display: flex;
}

.icons i {
    font-size: 20px;
}

.icon {
    border-radius: 20px;
    width: 35px;
    height: 35px;
    border: #447cab 1px solid;
    margin: 30px 0px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #447cab;
}

.active-icon>div:first-child {
    background-color: #447cab;
    color: #fff;
}

.active-icon {
    border-bottom: #447cab 2px solid;
}

.icon-container {
    margin-right: 25px;
}

/*Right part of order info*/
.right-order-info {
    min-width: 90px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #636a72;
    padding: 30px 0px;
}

.order-info-price {
    font-size: 22px;
}

/*Map*/
#map {
    display: none;
    min-height: 300px;
}

/*Customer Information*/

.customer-information {
    background-color: #ffffff;
    padding: 15px 15px 30px;
    border-bottom: 2px solid #dbe0e6;
    display: none;
}

.details-inf-input {
    display: none;
    width: 250px;
    border: none;
    border-bottom: 1px solid #b3b3b3;
    margin-bottom: 7px;
    outline: none;
    color: #2f3b47;
}

.details-inf-input:focus {
    border-bottom: 1px solid #58a2df;
}

.customer-inf-content {
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    color: #2f3e51;
}

.details,
.picture {
    flex-grow: 1;
    max-width: 400px;
}

.customer-inf-title {
    padding: 15px 0px;
    font-size: 15px;
}


.details-inf {
    display: flex;
    padding-left: 15px;
    line-height: 20px;
}

.details-inf-titles {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10px;
    color: #636a72;
}

.user-photo {
    width: 150px;
}

.customer-phone {
    color: #1E90FF;
}

.details-inf-mobile {
    display: none;
    line-height: 20px;
}

.details-inf-title {
    color: #636a72;
}

.details-inf-item {
    padding: 5px 0;
}

/*Shipping Address*/
.shipping-address {
    background-color: #ffffff;
    padding: 15px 15px 15px;
    border-bottom: 2px solid #dbe0e6;
}

.contact-inf-input {
    display: none;
    width: 300px;
    border: none;
    border-bottom: 1px solid #b3b3b3;
    margin: 2px 0;
    outline: none;
    color: #2f3b47;
}

.contact-inf-input:focus {
    border-bottom: 1px solid #58a2df;
}

.heading {
    border-bottom: 1px solid #cecece;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}

.heading {
    font-size: 18px;
    color: #2f3e51;
}

.edit-save {
    display: flex;
}

.edit-save p {
    font-size: 13px;
    color: #447cab;
    cursor: pointer;
    margin-left: 10px;
}

.save,
.close {
    display: none;
}

.edit-save p:hover {
    color: #58a2df;
}

.contact-inf {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    line-height: 20px;
}

.contact-inf-titles {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10px;
    color: #636a72;
    flex-grow: 1;
    max-width: 200px;
}

.contact-inf-values {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    color: #2f3b47;
}

.contact-inf-mobile {
    color: #2f3b47;
}

.contact-inf-mobile-titel {
    color: #636a72;
}

.contact-inf-mobile {
    display: none;
    line-height: 20px;
}

.contact-inf-item {
    padding: 5px 0;
}

/*line items*/
.line-items {
    height: 100%;
    min-height: 200px;
    background-color: #fafafa;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.line-items-header {
    display: flex;
    justify-content: space-between;
}

.porduct-search-form {
    border: 1px solid #ececec;
    background-color: #fff;
    display: inline-block;
    position: relative;
    width: 200px;
    margin: 2px 5px;
    margin-top: 10px;
    height: 20px;
}

.product-search {
    width: 100%;
    padding: 2px;
    padding-right: 25px;
    background-color: transparent;
    border: 0;
}

.line-items-header .btn {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    border: 0;
    color: #636a72;
    padding: 2px 5px;
    cursor: pointer;
}

.add-product-btn {
    color: #2f3b47;
    cursor: pointer;
    margin-right: 5px;
}

.count-items {
    font-size: 18px;
    color: #2f3e51;
    padding: 10px 15px;
}

.no-products {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.no-produts-message {
    color: #b3b3b3;
    font-size: 30px;
}

.products-table {
    width: 100%;
    border-collapse: collapse;
    color: #2f3b47;
}

.delete-btn {
    cursor: pointer;
}

.sort {
    cursor: pointer;
    margin-left: 5px;
}

.table-header {
    background-color: #f7f7f7;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
}

.desc-product-sort,
.desc-unit-price-sort,
.desc-total-price-sort,
.reset-product-sort,
.reset-unit-price-sort,
.reset-total-price-sort {
    display: none;
}

.line-items th {
    font-weight: normal;
    text-align: right;
    padding: 5px 10px;
}

.table-titel {
    display: flex;
    justify-content: flex-end;
}

.products-header {
    display: flex;
    justify-content: flex-start;
}

.product-row {
    background-color: #fff;
    border-bottom: 1px solid #cdcdcd;
    text-align: right;
    padding: 0 10px;
}

.product-row:first-child {
    line-height: 20px;
    text-align: left;
}

/*footer*/
footer {
    min-height: 40px;
    background-color: #2f3b47;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 15px;
}

footer>i {
    padding-right: 15px;
    color: #fff;
    cursor: pointer;
}

/*classes for js*/
.pending-status {
    color: #ffa726;
}

.too-late-status {
    color: #ef5350;
}

.accept-status {
    color: #66bb6a;
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

.display-block {
    display: block;
}

/*validation*/
.wrong-validation{
    border: 1px solid #ef9a9a;
}

.correct-validation{
    border: 1px solid #636a72;
}

/*display*/
.display-flex{
    display: flex;
}

.display-block{
    display: block;
}

.display-none{
    display: none;
}

/*position*/

.position-absolute{
    position: absolute;
}

/*media queries*/
@media screen and (max-width: 1100px) {
    .sidebar {
        display: none;
        z-index: 1;
    }

    .show-sidebar-btn {
        display: block;
    }

    .hidden-sidebar-btn {
        display: block;
    }
}

@media screen and (max-width: 576px) {

    .order-info {
        padding: 0 15px;
    }

    .shipping-address {
        padding: 0;
    }

    .customer-information {
        padding: 0 0 15px;
    }

    .customer-inf-content {
        flex-direction: column;
    }

    .details-inf {
        display: none;
    }

    .details-inf-mobile {
        display: block;
    }

    .line-items {
        padding: 0;
    }

    .contact-inf {
        display: none;
    }

    .contact-inf-mobile {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 15px;
    }

    .line-items-header form {
        width: 140px;
    }

    /*window for create order*/
    .create-order-window {
        width: 300px;
        height: 400px;
    }

    .create-order-window .order-fields {
        overflow: auto;
    }

    .order-fields {
        flex-direction: column;
    }

    /*mobile table*/
    .product-row:before {
        content: attr(data-label);
    }

    .product-item {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #cdcdcd;
    }

    .product-row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        border: none;
        padding: 15px;
    }

    .table-header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
    }

    .header-quantity {
        display: none;
    }
}